.markdown-render{
    width: 100%;
}

.markdown-render .normalA{
    text-decoration: none;
    color: var(--primary-color);
}

.markdown-render .normalA:hover{
    color: var(--invert-font-color);
    background-color: var(--primary-color);
}

.markdown-render .markdown-image-wrapper{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.markdown-render .title{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-font-color);
}

.markdown-render .subtitle{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dark-font-color);
}

.markdown-render table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border: 1px solid var(--dark-font-color);
}

.markdown-render th, 
.markdown-render td {
    border: 1px solid var(--dark-font-color);
    padding: 12px 15px;
    text-align: left;
}